/* Body */

body {
    background-color: #F1F1F1;
}

header {
    color: #333;
    background-color: #002aff;
    padding: 30px;
    border-bottom: #333 3px solid;
    text-align: center;
}

.social-links {
    position: absolute;
    top: 20px;
    left: 20px;
}
.social-links a {
    color: #333;
    margin-right: 10px;
    text-decoration: none;
    font-size: 24px;
}
